extends layout

block content
  #fullpage
    .wrap-1
      .section
        .background_1
          .container
            .row
              .col-xs-12
                p Hello!
    .section
    .section
